ai-arbitr.online, www.ai-arbitr.online {
	log
	encode gzip zstd

	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle /auth/* {
		reverse_proxy backend:8000
	}

	handle /download/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}
